/* Landing.module.css */

.body{
  overflow: hidden;
}
.landing {
    position: relative;
    background: url('./bg_image.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: #182247;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 2px rgb(155, 155, 175);
    font-family: 'Poppins', sans-serif;
  }
  .content .data{
    Font-size: 30px;
    width: 40%;
    line-height: 1.4;
  }
  .content .data p{
    Font-size: 18px;
    margin-top: 25px;
    color: rgb(72, 72, 150);
    text-shadow: none;
  }
  .content img{
    height: 53vh;
    margin-top:-5%;
  }
  
  
  .QrCode img{
    position: absolute;
    bottom: 5px;
    right: 40%;
    height: 40px;
    width: 15%;
    /* border: #DDDFE9 10px solid; */
    border-radius: 10px;
  }

  .QrCode img{
    border-radius: 10px;
    /* transition: height 1s ease-in-out; */
    /* transition: width 0.5s ease-in-out,height 1s ease-in-out; */
    opacity: 0;
    height: 0;
    position: relative;
    bottom: 186px;
    width: 0;
    /* border: #DDDFE9 10px solid; */
    transition: opacity 0.5s ease-in-out;
  }

  .QrCode h4{
    border: #DDDFE9 10px solid;
    border-radius: 10px;
  }
  