/* Landing.module.css */

.body{
  overflow: hidden;
}
.landing {
    position: relative;
    background: url('./bg_image.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: #20294C;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content .data{
    Font-size: 35px;
    width: 40%;
  }
  .content .data p{
    Font-size: 18px;
    margin-top: 25px;
  }
  .content img{
    height: 53vh;
    margin-top:-5%;
  }
  
  .QrCode{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5px;
    right: 40%;
    height: 40px;
    width: 15%;
    /* border: #DDDFE9 10px solid; */
    border-radius: 10px;
  }

  .QrCode img{
    border-radius: 10px;
    /* transition: height 1s ease-in-out; */
    /* transition: width 0.5s ease-in-out,height 1s ease-in-out; */
    opacity: 0;
    height: 0;
    position: relative;
    bottom: 186px;
    width: 0;
    /* border: #DDDFE9 10px solid; */
    transition: opacity 0.5s ease-in-out;
  }

  .QrCode h4{
    border: #DDDFE9 10px solid;
    border-radius: 10px;
    padding:1%;
  }
  .QrCode:hover img{
    opacity: 1;
    height: max-content;
    bottom: 250px;
    width: 100%;
    animation: slideInFromBottom 0.5s ease-in-out;
    border: #DDDFE9 10px solid;
}

.QrCode:hover h4{
  opacity: 0;
}

@keyframes slideInFromBottom {
  0% {
      transform: translateY(20%);
  }
  100% {
      transform: translateY(0);
  }
}
