/* Landing.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
.landing {
    position: relative;
    height: 90vh;
    background: url('./bg_image.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: #182247;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 2px rgb(155, 155, 175);
    font-family: 'Poppins', sans-serif;
  }
  .content .data{
    Font-size: 30px;
    width: 40%;
    line-height: 1.4;
  }
  .content .data p{
    Font-size: 18px;
    margin-top: 25px;
    color: rgb(72, 72, 150);
    text-shadow: none;
  }
  .content img{
    height: 50vh;
    margin-top:-5%;
  }
  
  
  .QrCode img{
    position: fixed;
    bottom: 5px;
    left: 40px;
    height: 125px;
    width: 125px;
    z-index: 1;
    border: #DDDFE9 10px solid;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    transform-origin: bottom left;
  }
  
  .QrCode img:hover{
    scale: 1.5;
  }