/* Landing.module.css */
.landing {
    position: relative;
    height: 90vh;
    background: url('./bg_image.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: #20294C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content .data{
    Font-size: 35px;
    width: 40%;
  }
  .content .data p{
    Font-size: 18px;
    margin-top: 25px;
  }
  .content img{
    height: 50vh;
    margin-top:-5%;
  }
  
  .QrCode img{
    position: absolute;
    bottom: 5px;
    left: 40px;
    height: 125px;
    width: 125px;
    z-index: 1;
    border: #DDDFE9 10px solid;
    border-radius: 10px;
  }
  